[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=template-json-formula;
X-KDE-Priority=TopLevel
X-KDE-Submenu=json-theme

[Desktop Action template-json-formula]
Name=template-json-formula.sh
Icon=audio
Exec=rm ~/.config/formula/log && template-json-formula.sh %f 2>&1 | tee ~/.config/formula/log
